.swiper,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
}
.swiper{
    position: relative;
    z-index: 1;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #00000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
