.images {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.images-box {
    margin: auto;
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.title{
    color: #FFF;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 30px 0;
    text-align: left;
    padding-left: 8px;
    margin-left: 8px;
    background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 50%, transparent 0, transparent 75%, rgba(255, 255, 255, 0.2) 0);
    background-size: 8px 8px;
    width: calc(100vw - 125px);;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.images-card {
    width: calc((100vw - 180px)/4);
    height: 280px;
    margin: 6px;
    padding: 3px;
}
.images-card1 {
    width: calc((100vw - 144px)/2);
    height: 900px;
    margin: 6px;
    padding: 3px;
}
.a11{
    background: url(../imgs/works/blender/jian.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a12{
    background: url(../imgs/works/blender/jian3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a13{
    background: url(../imgs/works/blender/untitled.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a14{
    background: url(../imgs/works/blender/Snipaste_2022-06-01_12-44-27.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a21{
    background: url(../imgs/works/blender/Snipaste_2022-06-01_12-40-57.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a22{
    background: url(../imgs/works/blender/Snipaste_2022-06-01_12-41-22.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a23{
    background: url(../imgs/works/blender/Snipaste_2022-06-01_12-42-40.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a24{
    background: url(../imgs/works/blender/Snipaste_2022-06-01_12-42-51.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a31{
    background: url(../imgs/works/c4d/00_head_start4.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a32{
    background: url(../imgs/works/c4d/1wad0087.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a33{
    background: url(../imgs/works/c4d/4.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a34{
    background: url(../imgs/works/c4d/Snipaste_2020-06-08_23-03-38.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a35{
    background: url(../imgs/works/c4d/Snipaste_2020-06-26_17-17-47.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a36{
    background: url(../imgs/works/c4d/反浩克.jpg) no-repeat;
    background-position: top;
    background-size: cover;
}
.a37{
    background: url(../imgs/works/c4d/禁止入内.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a38{
    background: url(../imgs/works/c4d/toukui.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a39{
    background: url(../imgs/works/c4d/渲染0000.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a310{
    background: url(../imgs/works/c4d/杯子.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a311{
    background: url(../imgs/works/c4d/未标题\ 1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a312{
    background: url(../imgs/works/c4d/未标题\ 1\ \(2\).jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a41{
    background: url(../imgs/works/keyshot/1.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a42{
    background: url(../imgs/works/keyshot/2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a43{
    background: url(../imgs/works/keyshot/3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a44{
    background: url(../imgs/works/keyshot/4.gif) no-repeat;
    background-position: center;
    background-size: cover;
}

.a45{
    background: url(../imgs/works/keyshot/5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a46{
    background: url(../imgs/works/keyshot/6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a47{
    background: url(../imgs/works/keyshot/7.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a48{
    background: url(../imgs/works/keyshot/8.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.a51{
    background: url(../imgs/works/maya/1.jpg) no-repeat;
    background-position: center;
    background-size: contain;
}
.a52{
    background: url(../imgs/works/maya/wad.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a53{
    background: url(../imgs/works/maya/02.jpg) no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #aca7a4;
}
.a54{
    background: url(../imgs/works/maya/arnold.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
}

.a55{
    background: url(../imgs/works/maya/blender修.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a56{
    background: url(../imgs/works/maya/screenshot007.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a57{
    background: url(../imgs/works/maya/Snipaste_2020-11-09_12-15-56.jpg) no-repeat;
    background-position: center;
    background-size: contain;
}
.a58{
    background: url(../imgs/works/maya/xx.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a59{
    background: url(../imgs/works/maya/jixx.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a510{
    background: url(../imgs/works/maya/jixie333.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a61{
    background: url(../imgs/works/maya/white/sakura.1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a62{
    background: url(../imgs/works/maya/white/sakura.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a63{
    background: url(../imgs/works/maya/white/sakura.2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a64{
    background: url(../imgs/works/maya/white/sakura4.1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a71{
    background: url(../imgs/works/ue4/Snipaste_2022-04-16_17-00-13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a72{
    background: url(../imgs/works/ue4/Snipaste_2022-04-16_17-00-29.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a73{
    background: url(../imgs/works/ue4/Snipaste_2022-04-16_17-00-52.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a81{
    background: url(../imgs/works/zbrush/early/Snipaste_2022-06-01_13-29-12.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a82{
    background: url(../imgs/works/zbrush/early/Snipaste_2022-06-01_13-34-09.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a83{
    background: url(../imgs/works/zbrush/early/Snipaste_2022-06-01_13-30-46.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a84{
    background: url(../imgs/works/zbrush/early/Snipaste_2022-06-01_13-31-18.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a85{
    background: url(../imgs/works/zbrush/early/Snipaste_2022-06-01_13-31-32.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a86{
    background: url(../imgs/works/zbrush/early/Snipaste_2022-06-01_13-32-19.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a87{
    background: url(../imgs/works/zbrush/untitled.13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a88{
    background: url(../imgs/works/zbrush/untitled.15.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.a91{
    background: url(../imgs/works/next_gen/Snipaste_2022-03-19_14-01-18.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a92{
    background: url(../imgs/works/next_gen/Snipaste_2022-03-19_14-02-21.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a93{
    background: url(../imgs/works/next_gen/Snipaste_2022-03-19_14-15-48.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a94{
    background: url(../imgs/works/next_gen/Snipaste_2022-03-19_14-15-59.png) no-repeat;
    background-position: center;
    background-size: cover;
}


.a101{
    background: url(../imgs/works/industry/A.4.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a102{
    background: url(../imgs/works/industry/A.5.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a103{
    background: url(../imgs/works/industry/A.6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a104{
    background: url(../imgs/works/industry/front1.4.gif) no-repeat;
    background-position: center;
    background-size: cover;
}

.a111{
    background: url(../imgs/works/industry/w/1.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a112{
    background: url(../imgs/works/industry/w/10.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a113{
    background: url(../imgs/works/industry/w/11.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a114{
    background: url(../imgs/works/industry/w/12.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a115{
    background: url(../imgs/works/industry/w/13.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a116{
    background: url(../imgs/works/industry/w/14.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a117{
    background: url(../imgs/works/industry/w/15.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a118{
    background: url(../imgs/works/industry/w/16.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a119{
    background: url(../imgs/works/industry/w/2.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1110{
    background: url(../imgs/works/industry/w/3.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1111{
    background: url(../imgs/works/industry/w/4.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1112{
    background: url(../imgs/works/industry/w/5.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1113{
    background: url(../imgs/works/industry/w/6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1114{
    background: url(../imgs/works/industry/w/7.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1115{
    background: url(../imgs/works/industry/w/8.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.a1116{
    background: url(../imgs/works/industry/w/9.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}