.contact{
    color: #FFF;
    margin: 100px 0;
}
.contact-box{
    width: 50vw;
    height: 50vh;
    display: flex;
}
.contact-card{
    width: 50vw;
    height: 50vh;
    background-color: #0000;
}
.contacts{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, transparent 25%, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.2) 50%, transparent 0, transparent 75%, rgba(255, 255, 255, 0.2) 0);
background-size: 8px 8px;
    color: #FFF;
    margin: 3px;
    display: flex;
}
.contacts-box{
    margin: auto;
}