/* global */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

* {
    cursor: crosshair;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ffff00;
}

/* header */
.header {
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    top: 10px;
}

.logo {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0 0 30px;
}

.nav {
    display: block;
    margin: 20px 30px 0 0;
}

.menu {
    display: flex;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

.menu-item {
    padding: 0 10px;
}
.menu-item:hover{
    background-image: linear-gradient(-45deg,
            transparent 25%,
            rgba(255, 255, 255, 0.5) 0,
            rgba(255, 255, 255, 0.5) 50%,
            transparent 0,
            transparent 75%,
            rgba(255, 255, 255, 0.5) 0);
    background-size: 8px 8px;
}

/* main */
#main {
    height: 190vh;
}

.top-left{
    display: flex;
    align-items: flex-end;
}

.top-right{
    position: fixed;
    top: 350px;
    right: 40px;
    display: flex;
}

.cot-box{
    color: #FFF;
    font-weight: 700;
    text-align: end;
    margin: auto 0;
}

.cot{
    margin: 20px 0;
}
.cot:hover::before{
    content: "----";
    color: #FFF;
}

.card {
    width: 300px;
    height: 200px;
    background: linear-gradient(to left, #fff, #fff) left top no-repeat, linear-gradient(to bottom, #fff, #fff) left top no-repeat, linear-gradient(to left, #fff, #fff) right top no-repeat, linear-gradient(to bottom, #fff, #fff) right top no-repeat, linear-gradient(to left, #fff, #fff) left bottom no-repeat, linear-gradient(to bottom, #fff, #fff) left bottom no-repeat, linear-gradient(to left, #fff, #fff) right bottom no-repeat, linear-gradient(to left, #fff, #fff) right bottom no-repeat;
    background-size: 2px 10px, 10px 2px, 2px 10px, 10px 2px;
    margin: 5px 0;
    padding: 5px;
}

.card-overlay {
    height: 100%;
    background-image: linear-gradient(-45deg,
            transparent 25%,
            rgba(255, 255, 255, 0.2) 0,
            rgba(255, 255, 255, 0.2) 50%,
            transparent 0,
            transparent 75%,
            rgba(255, 255, 255, 0.2) 0);
    background-size: 8px 8px;
}

.top {
    min-height: 750px;
    position: relative;
    z-index: 2;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    transition: all .6s cubic-bezier(0.83, 0, 0.17, 1);
}

.top-center-content {
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin: 20px;
    background: linear-gradient(to left, #fff, #fff) left top no-repeat, linear-gradient(to bottom, #fff, #fff) left top no-repeat, linear-gradient(to left, #fff, #fff) right top no-repeat, linear-gradient(to bottom, #fff, #fff) right top no-repeat, linear-gradient(to left, #fff, #fff) left bottom no-repeat, linear-gradient(to bottom, #fff, #fff) left bottom no-repeat, linear-gradient(to left, #fff, #fff) right bottom no-repeat, linear-gradient(to left, #fff, #fff) right bottom no-repeat;
    background-size: 3px 10px, 10px 3px, 3px 10px, 10px 3px;
    padding: 8px;
    transition-duration: 0.3s;
    cursor: pointer;
    bottom: -13px;
    position: relative
}

.top-center {
    display: flex;
}

#wrapper {
    width: 518px;
    height: 165px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

#wrapper span,
#wrapper p {
    margin: 0;
    font-size: 1.2em;
    line-height: 0.8em;
}

#wrapper span {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    color: #ffff00;
}

#wrapper span:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#wrapper span:hover:after {
    opacity: 1;
}

#wrapper span.purple {
    color: #FFFF00;
}

#wrapper span.purple:hover:after {
    background-color: #FFFF00;
}

.linear {
    width: 100%;
    height: 20px;
    background-size: 25px 30px;
    background-image: linear-gradient(-45deg,
            transparent 0px,
            #FFFF00 0px,
            #FFFF00 55%,
            transparent 0px,
            transparent 65%,
            #FFFF00 0px);
    position: relative;
    z-index: 3;
}

.linear1 {
    width: 100%;
    height: 20px;
    background-image: linear-gradient(-45deg,
            transparent 25%,
            rgba(255, 255, 255, 0.5) 0,
            rgba(255, 255, 255, 0.5) 50%,
            transparent 0,
            transparent 75%,
            rgba(255, 255, 255, 0.5) 0);
    background-size: 8px 8px;
    position: relative;
    z-index: 3;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    object-fit: fill;
}
.bg-overlay{
    position: fixed;
    background: #00000044;
    opacity: 1;
    width: 100%;
    height: 100%;
}

/* footer */
.footer {
    width: 100%;
    height: 10vh;
}