<script>
    window.onload = function () {
        initial();
    }
</script>

<script src="/assets/js/photoswipe.esm.min.js"></script>
<script src="/assets/js/photoswipe-lightbox.esm.min.js"></script>
<script type="module">
    import PhotoSwipeLightbox from '/assets/js/photoswipe-lightbox.esm.min.js';
    const lightbox = new PhotoSwipeLightbox({
        gallery: '.thumb',
        children: 'a',
        pswpModule: () => import('/assets/js/photoswipe.esm.min.js')
    });
    lightbox.init();
</script>