<script>
    window.onload = function () {
        initial();
        if (document.readyState === 'complete') {
            setTimeout(function () {
                document.getElementById("preloading").className = "preloading-fadout";
            }, 777);
        }
    }
</script>

{% if page.layout == 'home' %}
<script src="/assets/js/dcode.js"></script>
<script>
    decodeText();
    setInterval(function () {
        decodeText();
    }, 5000);
</script>
{% endif %}

{% if page.layout == 'works' %}
<script type="module" src="/assets/js/viewer.esm.js"></script>
<script type="module" src="/assets/js/viewer.min.js"></script>
<script type="module">
    new Viewer(document.getElementById('thumbbox'), {
        button: false,
        title: false,
        url: 'data-original'
    });
</script>
{% endif %}

<!-- 
<script type="module">
    // import PhotoSwipeLightbox from '/assets/js/photoswipe-lightbox.esm.min.js';
    // const lightbox = new PhotoSwipeLightbox({
    //     gallery: '.thumb',
    //     children: 'a',
    //     pswpModule: () => import('/assets/js/photoswipe.esm.min.js')
    // });
    // lightbox.init();
    import PhotoSwipeLightbox from '/assets/js/photoswipe-lightbox.esm.min.js';
    const options = {
        gallery: '.thumb',
        children: 'a',
        pswpModule: () => import('/assets/js/photoswipe.esm.min.js')
    };
    const lightbox = new PhotoSwipeLightbox(options);
    lightbox.init();
</script> -->