* {
    margin: 0;
    padding: 0;
    font-family: $noto;
}

html,
body {
    height: 100vh;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
}

a {
    text-decoration: none;
    color: #FFF;
}

.thumb {
    margin: 5px;
    width: calc((100vw - 120px) / 8);
    height: calc((100vw - 120px) / 8);

    &>a {
        width: calc((100vw - 120px) / 8);
        height: calc((100vw - 120px) / 8);
    }
}

@media (max-width:1400px) {
    .thumb {
        margin: 5px;
        width: calc((100vw - 100px) / 6);
        height: calc((100vw - 100px) / 6);
    
        &>a {
            width: calc((100vw - 100px) / 6);
            height: calc((100vw - 100px) / 6);
        }
    }
}
@media (max-width:900px) {
    .thumb {
        margin: 5px;
        width: calc((100vw - 80px) / 4);
        height: calc((100vw - 80px) / 4);
    
        &>a {
            width: calc((100vw - 80px) / 4);
            height: calc((100vw - 80px) / 4);
        }
    }
}
@media (max-width:500px) {
    .thumb {
        margin: 5px;
        width: calc((100vw - 60px) / 2);
        height: calc((100vw - 60px) / 2);
    
        &>a {
            width: calc((100vw - 60px) / 2);
            height: calc((100vw - 60px) / 2);
        }
    }
}
.thumbbox {
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
    padding: 0 20px;
}

.thumbcontainer {
    display: flex;
    width: 100vw;
    margin: 70px 0;
}

.preloading {
    width: 100vw;
    height: 100vh;
    background-color: #222;
    position: fixed;
    z-index: 9;
    display: flex;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    opacity: 0;

    &-icon {
        margin: auto;
        width: 100px;
        height: 100px;
    }

    &-icon>img {
        width: 100px;
        height: 100px;
    }
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
}

.bg-overlay {
    position: fixed;
    background: #00000044;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.linear {
    width: 100%;
    height: 20px;
    background-size: 25px 30px;
    background-image: linear-gradient(-45deg,
            transparent 0px,
            #FFFF00 0px,
            #FFFF00 55%,
            transparent 0px,
            transparent 65%,
            #FFFF00 0px);
    position: fixed;
    z-index: 2;
}

.linear1 {
    width: 100%;
    height: 20px;
    background-image: linear-gradient(-45deg,
            transparent 25%,
            rgba(255, 255, 255, 0.2) 0,
            rgba(255, 255, 255, 0.2) 50%,
            transparent 0,
            transparent 75%,
            rgba(255, 255, 255, 0.2) 0);
    background-size: 8px 8px;
    position: fixed;
    z-index: 2;
}

.linear-top {
    top: 0;
}

.linear-bottom {
    bottom: 0;
}

.worklist {
    display: flex;
    width: 100vw;
    height: 100vh;

    &-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto 40px;
    }

    &-item {
        margin: 10px;
        width: calc((100vw - 160px)/4);
        height: 300px;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: #000 1px 1px 5px;
        display: flex;
        &-name{
            margin: auto;
            font-size: 1.5em;
            font-weight: 700;
        }
    }
}