.footer {
    position: fixed;
    z-index: 1;
    color: #FFF;
    font-weight: 700;
    font-size: 13px;
    bottom: 0;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    margin: 0 30px 30px 30px;
}