.navbar{
    position: fixed;
    width: 100vw;
    z-index: 2;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFF;
    &-box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px;
        &-title{
            padding: 0 10px;
        }
        &-menu{
            &-items{
                display: flex;
                flex-direction: row;
            }
            &-item{
                padding: 0 10px;
            }
        }
    }
}