---
layout: default
---

{% include tools/getSiteLang.html %}
<div class="videoslist">
    <div class="videoslist-box">
        <div class="videoslist-box-item">
            <video src="/assets/works/videos_blender/1.mp4" onmouseover="this.play()" onmouseout="this.pause()" muted height="650px"></video>
        </div>
        <div class="videoslist-box-item">
            <video src="/assets/works/videos_c4d/1.mp4" onmouseover="this.play()" onmouseout="this.pause()" muted height="650px"></video>
        </div>
        <div class="videoslist-box-item">
            <video src="/assets/works/videos_c4d/2.mp4" onmouseover="this.play()" onmouseout="this.pause()" muted height="650px"></video>
        </div>
        <div class="videoslist-box-item">
            <video src="/assets/works/videos_c4d/3.mp4" onmouseover="this.play()" onmouseout="this.pause()" muted height="650px"></video>
        </div>
        <div class="videoslist-box-item">
            <video src="/assets/works/videos_keyshot/1.mp4" onmouseover="this.play()" onmouseout="this.pause()" muted height="650px"></video>
        </div>
        <div class="videoslist-box-item">
            <video src="/assets/works/videos_nextgen/1.mp4" onmouseover="this.play()" onmouseout="this.pause()" muted height="650px"></video>
        </div>
    </div>
</div>