---
layout: default
---

{% include tools/getSiteLang.html %}
<div class="videoslist">
    <div class="videoslist-box">
        <a href="{{ page.switch }}/maya">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_maya/010_thumb.jpg);">
                <div class="worklist-item-name">Maya</div>
            </div>
        </a>
        <a href="{{ page.switch }}/blender">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_blender/001_thumb.jpg);">
                <div class="worklist-item-name">Blender</div>
            </div>
        </a>
        <a href="{{ page.switch }}/keyshot">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_keyshot/007_thumb.jpg);">
                <div class="worklist-item-name">Keyshot</div>
            </div>
        </a>
        <a href="{{ page.switch }}/ue4">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_ue4/002_thumb.jpg);">
                <div class="worklist-item-name">UE4</div>
            </div>
        </a>
        <a href="{{ page.switch }}/c4d">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_c4d/011_thumb.jpg );" >
                <div class="worklist-item-name">C4D</div>
            </div>
        </a>
        <a href="{{ page.switch }}/zbrush">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_zbrush/010_thumb.jpg );" >
                <div class="worklist-item-name">Zbrush</div>
            </div>
        </a>
        <a href="{{ page.switch }}/industry">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_industry/003_thumb.jpg );">
                <div class="worklist-item-name">{{ site.data.i18n.[_lang].industry }}</div>
            </div>
        </a>
        <a href="{{ page.switch }}/next-gen">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_next_gen/005_thumb.jpg );" >
                <div class="worklist-item-name">{{ site.data.i18n.[_lang].nextgen }}</div>
            </div>
        </a>
    </div>
</div>