---
layout: default
---

{% include tools/getSiteLang.html %}
<div class="worklist">
    <div class="worklist-box">
        <a href="{{ page.pageUrl }}/maya">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_maya/{{ site.data.imgs.maya.e }}_thumb.jpg);">
                <div class="worklist-item-name">Maya</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/blender">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_blender/{{ site.data.imgs.blender.e }}_thumb.jpg);">
                <div class="worklist-item-name">Blender</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/keyshot">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_keyshot/{{ site.data.imgs.keyshot.e }}_thumb.jpg);">
                <div class="worklist-item-name">Keyshot</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/ue4">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_ue4/{{ site.data.imgs.ue4.e }}_thumb.jpg);">
                <div class="worklist-item-name">UE4</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/c4d">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_c4d/{{ site.data.imgs.c4d.e }}_thumb.jpg );" >
                <div class="worklist-item-name">C4D</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/zbrush">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_zbrush/{{ site.data.imgs.zbrush.e }}_thumb.jpg );" >
                <div class="worklist-item-name">Zbrush</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/industry">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_industry/{{ site.data.imgs.industry.e }}_thumb.jpg );">
                <div class="worklist-item-name">{{ site.data.i18n[_lang].industry }}</div>
            </div>
        </a>
        <a href="{{ page.pageUrl }}/nextgen">
            <div class="worklist-item" style="background-image: url(/assets/works/imgs_nextgen/{{ site.data.imgs.nextgen.e }}_thumb.jpg );" >
                <div class="worklist-item-name">{{ site.data.i18n[_lang].nextgen }}</div>
            </div>
        </a>
    </div>
</div>